*{
    padding : 0;
    margin: 0;
}
body{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    background-color : black;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.background{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('img/netflixBackground.jpg');
    background-position: center;
    /* background : rgba(0,0,0,0.9); */
    /* opacity: 0.9; */
    background-repeat: no-repeat;
    background-size: 120% 120%;
    position: relative;
    height: 690px;
    width: 100%;
}

.svg-container{
    padding:0px 45px;
    display:  flex;
    justify-content: space-between;
}
.sign-in-container{
    display: flex;
    justify-content: space-between;
    width : 215px;
    margin-top: 1.5em;
    margin-right: 0.5em;

}


.sign-in-btn{
    height: 33px;
    width : 90px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    background-color: rgb(250, 21, 21);
    border : 0px;
    color: white;
    border-radius: 0.2em;
}

.sign-in-btn:hover{
    cursor: pointer;
}


.svg-icon-netflix{
    width: 160px; height:75px;
    background-color: beige;
	background: url('img/netflixLogo.png');
	background-size: cover;
}


.lang-dropdown{
    position:relative;
    display: inline-block;
}

.lang-dropbtn{
    background-color: transparent;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 3px;
    padding : 4px 10px;
    width: 95px;
    height: 35px;
    cursor: pointer;
    color: white
}

.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a{
    color : white;
    width: 90px;
    height: 25px;
    /* text-align: center; */
    line-height: 25px;
    text-align:center;
    display : block;
    text-decoration: none;
    background-color: gray;
}
.dropdown-content a:hover{
    background-color: #5f61f0;
}

.lang-dropdown:hover .lang-dropbtn{
    cursor: pointer;
}
.lang-dropdown:hover .dropdown-content{
    display: block;
}


.mid-web{
    width: 75%;
}
.mid-web-cont{
    padding: 70px 45px;
}


.foreground{
    color: white;
    /* background-color: rgb(0,0,0); */
    width: 700px;
    top: 53%;
    left: 50%;
    position:absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.foreground h1{
    /* padding: 0% 15%; */
    /* font-size: 45px; */
    font-size: 3.125rem;
    font-weight: 550;
    
}

.watch-anywhere{
    font-size: 1.625rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 1em auto;
}
.ready h3{
    font-size: 1.2rem;
    padding-bottom: 20px;
    font-weight: 400;;
    font-family: 'Lato', sans-serif;
}
.home-page-form{
    margin-top: 0.85rem;
}
.start{
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin-top: 5em; */
    flex-wrap: wrap;
}

.email{
    background: white;
    display: inline;
    width: 460px;
    height: 60px;
    color: rgb(0,0,6);
    border-style: none;
    margin-top: 1px;
    margin-right: -0.6%;
}
.email::placeholder{
    font-size: 15px;
}
.get-started{
    background-color: rgb(229, 9, 20);
    height: 62px;
    width: 208px;
    border-style: none;
    /* margin-left: -4px; */
    color: white;
    font-size: 25px;text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.8) -1px 1px 2px;
}

.get-started:hover{
    background-color: rgb(255, 9, 26);
    cursor: pointer;
}
.header-line{
    position: relative;
    /* top: 89%; */
    height: 8px;
    background-color: rgb(58, 58, 58);
    border: none;
}

/* ************************************** */
.heading-h1{
    margin-top: 140px;
    color: white;
    font-size: 50px;
    text-align: center;
}


/* *************** t-section ************** */
.tv-section{
    padding: 70px 45px;
}
.tv-sec-cont{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.enjoy-tv-sec{
    width: 55%;
    margin-right: 3rem;
    padding: 0 3rem 0 0;
    margin: -5% 0;
}
.tv-sec-cont .tv-sec-h1{
    font-size: 3.125rem;
    margin-bottom: 0.5rem;
    line-height: 1.1;
    color: #fff;
}
.tv-sec-p{
    font-size: 1.625rem;
    font-weight: 400;
    margin: 0.75rem 0 0.25rem;
    color: #fff;
}

.tv-sec-r{
    max-width: 45%;
    position: relative;
}
.tv-sec-r-cont{
    margin: -10% -5% -5% 0;
}
.tv-sec-r-cont img{
    z-index: 2;
}
.tv-sec-r-cont img, .tv-video source{
    width: 100%;
}
.tv-video{
    margin: -10% -5% -5% 0;
    position: absolute;
    top: 0;
    z-index: -5;
    width: 100%;
    height: 100%;
}
.tv-video source{
    z-index: -5;
    width: 100%;
    height: 100%;
}

.enjoy-show-sec{
    width: 45%;
}

.show-sec-r{
    max-width: 55%;
}
.show-sec-cont{
    justify-content: inherit;
    padding-top: 50px;
    padding-bottom: 50px;
}
.show-sec-r-cont{
    display: flex;
    margin: -8% 0 -4% -15%;
    justify-content: flex-start;
}
.show-sec-r-cont img{
    max-width: 490px;
    height: auto;
}

.unlimited{
    padding-top: 105px;
    padding-bottom: 105px;
}
/* .unlimit-sec-cont{
    max-width: 45%;
} */
.enjoy-unlimit-sec{
    max-width: 45%;
}
.umlimit-sec-r{
    max-width: 55%;
}

.ask-ques{
    padding: 70px 45px;
}
.ask-ques-cont h1{
    text-align: center;
    font-size: 3rem;
}
.questions{
    width: 75%;
    margin: 2em auto;
    max-width: 815px;
    padding: 0 2em;
    margin-bottom: 4em;
}
.questions li{
    list-style: none;
}
.ques-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #303030;
    color: #fff;
    border: none;
    margin-bottom: 1px;
    /* padding: .8em 2.2em .8em 1.2em; */
}
.ques-btn h1{
    font-size: 1.625rem;
    font-weight: 400;
    margin: .8em 2.2em .8em 1.2em;
}
.ques-btn i{
    font-size: 25px;
    margin: 20px 25px; 
}
.ques-btn i:hover{
    cursor: pointer;
}
.qnes-ans{
    background-color: #303030;
    color: #fff;
    padding: 1.2em;
    margin-bottom: 8px;
    display: none;
    /* transition: 3s ease-out; */
    position: relative;
    animation-name: example;
    animation-duration: 2s;
}
@keyframes example {
    0%   {  opacity:0%}
    50% {opacity: 50%}
    100% {  opacity:100%;}
  }
.qnes-ans p{
    color: #fff;
    font-size: 1.625rem;
    font-weight: 400;
}

.bottom-ready{
    text-align: center;
}

/* *************Footer **************** */
footer{
    padding: 70px 45px;
    margin: 0 auto;
    max-width: 1000px;
}
.footer-cont{
    color: #737373;
    font-size: 1em;
    margin-top: 80px;
    min-width: 190px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}
.footer-sec{
    color: #737373;
    font-size: 1em;
    margin: 0 auto;
    padding-top: 30px;
    width: 90%;
}
.footer-sec p{
    margin-bottom: 30px;
}
.bottom-ops{
    box-sizing: border-box;
    font-size: 13px;
    max-width: 1000px;
}
.bottom-ops li{
    list-style: none;
    margin-bottom: 16px;
    width: 23%;
    min-width: 100px;
    display: inline-block;
    padding: 0 12px 0 0
}
.bottom-ops li a{
    color: #737373;
    font-size: 13px;
    text-decoration: none;
}
.bottom-ops li a:hover{
    text-decoration:underline;
}
.bottom-btn{
    margin-top: 20px;
}
.bottom-btn{
    height: 45px;
    margin-top: 20px;
    line-height: 1.7;
    padding-left: 10px;
    width : auto;
    font-size: 15px;
}
.bottom-btn button i{
    padding-left: 15px;
    padding-right: 5px;
}
select option{
    background-color: black;
    color: #fff;
    height: 40px;
    line-height: 2;
}

/* ***************************************** */

@media screen and (max-width: 949px) {
    .svg-icon-netflix{
        width: 160px; height:75px;
        background-color: beige;
        background: url('/img/netflix-logo.png');
        background-size: cover;
    }
    .svg-container{
        padding:0px 10px;
        display:  flex;
        justify-content: space-between;
    }
    .start{
        width: 80%;
        position: relative;
        display: flex;
        margin: auto;
        
    }


    .foreground{
        top: 55%;
    }
    .get-started{
        display: block;
        margin-top: 0.6em;
        height: 42px;
        width: 125px;
        font-size: 18px;
        font-family: sans-serif;
    }
    .email{
        display: block;
        width: 95%;
        height: 46px;
    } 
    .ready{
        display: flex;
        justify-content: center;
    }

    .ready h3{
        /* background-color: #5f61f0; */
        width: 73%;
        text-align: center;
        font-size: 18px;
        margin-top: 1em;
        font-weight: 100;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .watch-anywhere{
        margin-top: 0.8em;
        margin-bottom: 0em

    }
}



@media screen and (max-width: 549px) {
    .svg-icon-netflix{
        width: 100px; 
        height: 60px;
        background: url('/img/netflix-logo.png');
        background-size: cover;
    }
    .svg-container{
        /* padding: 10px 10px; */
        display:  flex;
        justify-content: space-between;
    }

    .sign-in-container{
        display: flex;
        justify-content: space-between;
        width : 155px;
        margin-right: 0.5em;
    
    }
    
    
    .sign-in-btn{
        height: 27px;
        width : 60px;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        background-color: rgb(250, 21, 21);
        border : 0px;
        color: white;
        border-radius: 0.2em;
    }
    
    .sign-in-btn:hover{
        cursor: pointer;
    }
    
    
    .lang-dropdown{
        position:relative;
        display: inline-block;
    }
    
    .lang-dropbtn{
        background-color: transparent;
        border: 1px solid rgb(199, 199, 199);
        border-radius: 3px;
        padding : 0px 5px;
        width: 85px;
        height: 27px;
        cursor: pointer;
        color: white
    }
    
    .dropdown-content{
        display: none;
        position: absolute;
        z-index: 1;
    }
    
    .dropdown-content a{
        color : white;
        width: 85px;
        height: 25px;
        /* text-align: center; */
        line-height: 25px;
        text-align:center;
        display : block;
        text-decoration: none;
        background-color: gray;
    }
    /* .mid-web{
        width: 100%;
    } */




    .background{
        /* position: absolute;  */
        height: 523px;
        /* width: 100vw; */
        background-size: cover;
        background-position: center;
        background-color: #5f61f0;
        overflow: hidden;
        background-size: 100% 100%;
    }
    .start{
        width: 70%;
        position: relative;
        display: flex;
        margin: auto;
        
    }
    .email-cont{
        display: block;
    }

    .foreground{
        top: 45%;
        }
    .foreground h1{
        /* position:relative; */
        text-align: center;
        left : 50%;
        padding-left: 1em;
        font-size: 27px;
        /* background-color: #5f61f0; */
        width :70%;
    }
    .for-h1{
        margin-left: 2em;
        overflow-x: visible;
    }
    .get-started{
        display: block;
        margin-top: 0.6em;
        height: 42px;
        width: 125px;
        font-size: 18px;
        font-family: sans-serif;
    }
    .email{
        display: block;
        width: 95%;
        height: 46px;
    } 
    .ready{
        display: flex;
        justify-content: center;
        
    }

    .ready h3{
        /* background-color: #5f61f0; */
        width: 65%;
        text-align: center;
        font-size: 18px;
        margin-top: 1em;
        font-weight: 100;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .watch-anywhere{
        margin-top: 0.8em;
        margin-bottom: 0em;
        font-size: 17px;
    }

    .header-line{
        position: relative;
        top: 87%;
        height: 10px;
        background-color: rgb(116, 116, 116);
        border: none;
    }
}





